In [1]:
import mysql.connector as mysql
import pandas as pd
db_connection = mysql.connect(host='localhost',database='aiml',user='root',password='Vansh@2004')
query="SELECT * FROM train"
df_mysql = pd.read_sql(query,con = db_connection)
df_mysql

ModuleNotFoundError: No module named 'mysql'

# DISPLAY TOP 5 ROWS OF THE DATASET

In [ ]:
df_mysql.head(5)

# CHECK LAST 3 ROWS OF THE DATASET

In [ ]:
df_mysql.tail(3)

# FIND SHAPE OF OUR DATASET(NUMBER OF ROWS & NUMBER OF COLUMNS)

In [ ]:
df_mysql.shape

# GET INFORMATION ABOUT OUR DATASET LIKE TOTAL NUMBER ROWS,TOTAL NUMBER OF COLUMNS,DATATYPE OF EACH COLUMN AND MEMORY REQUIREDMENT

In [ ]:
df_mysql.info()

# GET OVERALL STATISTICS ABOUT THE DATAFRAME

In [ ]:
df_mysql.describe()

# DATA FILTERING

In [ ]:
data = df_mysql[df_mysql['PassengerId']<10]
data

# CHECK NULL VALUES IN THE DATASET

In [ ]:
df_mysql.isnull()

# DROP THE COLUMN

In [ ]:
df_mysql.drop('Parch', axis=1)

# HANDLE MISSING VALUES

In [ ]:
df_mysql.dropna(inplace=True)

# CATEGORICAL DATA ENCODING

In [ ]:
data = pd.get_dummies(data, columns=['Pclass'], drop_first=True)
data

# WHAT IS UNIVARIATE ANALYSIS

In [ ]:
data.columns
data['PassengerId'].describe()

# HOW MANY PEOPLE SURVIVED AND HOW MANY DIED PLOT ON GRAPH

In [ ]:
import matplotlib.pyplot as plt

# Group the data by the 'Survived' column and count the occurrences of each category
survived_count = data['Survived'].value_counts()

# Plot the counts
plt.figure(figsize=(8, 6))
plt.bar(survived_count.index, survived_count.values, color=['red', 'green'])
plt.xticks(survived_count.index, ['Died', 'Survived'])
plt.xlabel('Outcome')
plt.ylabel('Number of People')
plt.title('Number of People Survived and Died')
plt.show()

# HOW MANY PASSENGERS WERE IN FIRST CLASS,SECOND CLASS AND THIRD CLASS PLOT THOSE FIGURES ON GRAPH

In [ ]:
class_count = df_mysql['Pclass'].value_counts()
class_count.plot(kind='bar')
plt.title('Passenger Class Count')
plt.xlabel('Class')
plt.ylabel('Count')
plt.xticks(rotation=0)
plt.show()

# NUMBER  OF MALE AND FEMALE PASSANGERS

In [ ]:
data.columns
class_cot = data['Sex'].value_counts()

plt.figure(figsize=(8, 6))
plt.bar(class_cot.index, class_cot.values, color=['red', 'green'])
plt.xticks(class_cot.index, ['male', 'female'])
plt.xlabel('Outcome')
plt.ylabel('Number of People')
plt.title('Number of People female and male')
plt.show()

# BIVARIANT ANALSIS

In [ ]:
#when we represent two variables on a graph, that is knwown as bivaraite analysis
data.columns
plt.figure(figsize=(8, 6))
plt.scatter(data['PassengerId'], data['Age'], color='blue', alpha=0.7)
plt.xlabel('Variable 1')
plt.ylabel('Variable 2')
plt.title('Scatter Plot of Variable 1 vs Variable 2')
plt.show()

# HOW HAS BETTER CHANCE OF SURVIVAL MALE OR FEMALE

In [ ]:
survival_pivot = data.pivot_table(index='Sex', columns='Survived', aggfunc='size', fill_value=0)

# Plot the survival rates
survival_pivot.plot(kind='bar', stacked=True, figsize=(8, 6), color=['red', 'green'])
plt.xlabel('Sex')
plt.ylabel('Count')
plt.title('Survival Count by Sex')
plt.legend(title='Survived', labels=['No', 'Yes'])
plt.xticks(rotation=0)
plt.show()

# WHICH PASSENGER CLASS HAS BETTER CHANCE OF SURVIVAL(FIRST,SECOND,OR THIRD CLASS)?

In [ ]:
survival_class = df_mysql.groupby('Pclass')['Survived'].mean()
survival_class.plot(kind='bar')
plt.title('Survival Rate by Passenger Class')
plt.xlabel('Passenger Class')
plt.ylabel('Survival Rate')
plt.xticks(rotation=0)
plt.show()

# FEATURE ENGINEERING

In [ ]:
# In a Machine Learning Workflow, after the data extraction process, whatever functions we perform falls under feature engineering.